<div id="about">
  {{> header}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-sm-9 left-col">
        <img class="hero-image" src="{{ about.heroImage.src }}" alt="{{ about.heroImage.alt }}" style="max-width:{{ about.heroImage.width }}px">
      </div>
      <div class="col-md-3 col-sm-3 right-col">
        <h2>{{ about.title }}</h2>
        <div class="description">
          {{{ about.description }}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 line-break"></div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-9 left-col">
        <div class="row">
          <div class="team-members">
          {{#each about.team.members}}
            <div class="col-md-6 col-sm-6 team-member">
              <img class="team-member-photo" src="{{ image.src }}" style="max-width: {{ image.width }}px;" alt="{{ image.alt }}">
              <div class="team-member-info">
                <h3 class="team-member-name">{{ name }}</h3>
                <p class="team-member-role">{{ role }}</p>
                <p class="team-member-title">{{ title }}</p>
              </div>
            </div>
          {{/each}}
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 right-col">
        <h2>{{ about.team.title }}</h2>
        <div class="description">
          {{{ about.team.members.0.bio }}}
        </div>
      </div>
    </div>
  </div>
</div>
