<div id="home">
  <div class="container-fluid">
    <div class="row">
      {{#each work}}
      <div class="col-md-4 col-sm-4 work-item">
        <a class="work-image" {{#unless teaser}}href="work/{{slug}}.html"{{/unless}}>
          <img src="{{gridImage.src}}" alt="{{gridImage.alt}}" style="max-width:{{gridImage.width}}px;">
        </a>
        <br class="visible-xs">
        <a class="work-cta" {{#unless teaser}}href="work/{{slug}}.html"{{/unless}} style="max-width:{{gridImage.width}}px;">
          <div class="work-info">
            <h2>{{title}}</h2>
            <h3>{{subtitle}}{{#if teaser}} (Coming Soon){{/if}}</h3>
            <div class="work-type hidden-xs">{{type}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
