<div id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-sm-9 left-col">
				<img class="hero-image" src="{{ about.heroImage.src }}" alt="{{ about.heroImage.alt }}"
					style="max-width:{{ about.heroImage.width }}px">
			</div>
			<div class="col-md-3 col-sm-3 right-col">
				<h2>{{ about.title }}</h2>
				<div class="description">
					{{{ about.description }}}
				</div>
			</div>
		</div>
	</div>
</div>
