<div id="contact">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-sm-9 left-col">
				<a href="{{ contact.googlemap }}" target="byb_map"><img class="hero-image" src="{{ contact.heroImage.src }}"
						alt="{{ contact.heroImage.alt }}" style="max-width:{{ contact.heroImage.width }}px"></a>
			</div>
			<div class="col-md-3 col-sm-3 right-col">
				<h2>{{ contact.title }}</h2>
				<div class="description">
					{{{ contact.description }}}
				</div>
			</div>
		</div>
	</div>
</div>
