<div class="work-details">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				{{#each work.hero}}
				<div class="work-hero">
					{{#ifEqual type 'iframe'}}
					<div class="work-hero__responsive-wrapper">
						<iframe class="work-hero__video" src="{{ src }}" frameborder="0" webkitallowfullscreen mozallowfullscreen
							allowfullscreen></iframe>
					</div>
					{{/ifEqual}}
					{{#ifEqual type 'image'}}
					<img class="hero-image" src="{{ src }}" alt="{{ alt }}" style="max-width:{{ width }}px">
					{{/ifEqual}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1 class="work-details__subtitle">{{ work.subtitle }}</h1>
				<div class="work-details__description">{{{ work.description }}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				{{#if work.gallery}}
				<div class="work-gallery">
					<div class="row">
						{{#each work.gallery}}
						<div
							class="work-gallery-item {{#ifEqual gridSize 1}}col-md-6 col-sm-6{{/ifEqual}}{{#ifEqual gridSize 2}}col-md-12{{/ifEqual}}">
							<div class="gallery-cta">
								<img src="{{grid}}">
							</div>
						</div>
						{{/each}}
					</div>
				</div>
				{{/if}}
			</div>
		</div>
		{{#if work.credits}}
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<ul class="work-details__credits-list">
					{{#each work.credits}}
					<li class="work-details__credit{{#ifEqual role "Directed by"}} work-details__credit--standout{{/ifEqual}}">
						<h3 class="work-details__credit-role-type">{{ role }}</h3>
						<p class="work-details__credit-role-name">{{ name }}</p>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
		{{/if}}
	</div>
</div>
