<div class="work-details">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				{{#each work.hero}}
				<div class="work-hero">
					{{#ifEqual type 'iframe'}}
					<iframe src="{{ src }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					{{/ifEqual}}
					{{#ifEqual type 'image'}}
					<img class="hero-image" src="{{ src }}" alt="{{ alt }}" style="max-width:{{ width }}px">
					{{/ifEqual}}
				</div>
				{{/each}}
				{{#if work.gallery}}
				<div class="work-gallery hidden-xs">
					<div class="row">
						{{#each work.gallery}}
						<div
							class="work-gallery-item {{#ifEqual gridSize 1}}col-md-6 col-sm-6{{/ifEqual}}{{#ifEqual gridSize 2}}col-md-12{{/ifEqual}}">
							<a href="#{{@index}}" data-gallery-index="{{@index}}" class="gallery-cta">
								<img src="{{grid}}">
							</a>
						</div>
						{{/each}}
					</div>
				</div>
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>{{ work.subtitle }}</h1>
				<div class="description">{{{ work.description }}}</div>
			</div>
		</div>
		{{#if work.credits}}
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Credits</h2>
				<ul>
					{{#each work.credits}}
					<li>
						<h3>{{ role }}</h3>
						<p>{{ name }}</p>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
		{{/if}}
	</div>
</div>
