<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    {{#ifEqual __context.templateName 'index'}}
    <title>Blame Your Brother</title>
    {{else}}
      {{#ifEqual __context.templateName 'work'}}
      <title>Blame Your Brother: {{ work.title }}</title>
      {{else}}
      <title>Blame Your Brother: {{metaForPage __context.templateName 'windowTitle'}}</title>
      {{/ifEqual}}
    {{/ifEqual}}
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    {{#ifEqual __context.templateName 'work'}}
    <link rel="stylesheet" href="../assets/css/main.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../assets/vendor/slick-carousel/slick/slick.css" type="text/css" media="screen" charset="utf-8">
    {{else}}
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" charset="utf-8">
    {{/ifEqual}}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic|Montserrat' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="site-col">
      {{> body}}
      {{> footer}}
    </div>

  {{#ifEqual __context.templateName 'work'}}
  <script type="text/javascript" charset="utf-8" src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="../assets/vendor/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="../assets/javascript/work.js"></script>
  {{/ifEqual}}
  </body>

</html>
